
body{
    margin: 5rem 10rem 5rem 10rem;
}

.container{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%; 
    display: inline-block;
     
}

.wrapper{
    display: flex;
    flex-direction: column; 
    text-align: left;
    font-size: 100px;
    font-weight: bold;
    justify-content: flex-start;
    align-items: center;
    background-color:darkslategrey;
    width: 100%;
    height: 750px;
    
}

 p {
	-webkit-animation: blur-out-expand 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
	        animation: blur-out-expand 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
}


 @-webkit-keyframes blur-out-expand {
    0% {
      -webkit-filter: blur(0.01);
              filter: blur(0.01);
    }
    100% {
      letter-spacing: 1em;
      -webkit-filter: blur(12px) opacity(0%);
              filter: blur(12px) opacity(0%);
    }
  }
  @keyframes blur-out-expand {
    0% {
      -webkit-filter: blur(0.01);
              filter: blur(0.01);
    }
    100% {
      letter-spacing: 1em;
      -webkit-filter: blur(12px) opacity(0%);
              filter: blur(12px) opacity(0%);
    }
  }


p {
    
    animation-name: fonts;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    
  }
  
  @keyframes fonts {
    0%   {font-family:'Courier New', Courier, monospace}
    10%  {font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}
    20%  {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
    30%  {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
    40%  {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
    50%  {font-family: 'Times New Roman', Times, serif;}
    60%  {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
    70%  {font-family: Arial, Helvetica, sans-serif;}
    80%  {font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
    90%  {font-family: Georgia, 'Times New Roman', Times, serif;}
    100% {font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
  }












